#subscription{
    margin-top: 100px;
}

.form{
    margin: auto;
    box-shadow:0px 1px 20px 5px rgb(235, 235, 235) !important;
    position: relative;
}

.form > input{
    height: 3.5rem;
    border: none;
}

.primary-form-button{
    position: absolute;
    top: 5px;
    right: 0px;
    margin: 5px;
    border:none;
    background-image: linear-gradient(90deg, #2ddaa9 0%, rgba(11,176,236,1) 71%);
    padding: 7px 25px;
    color: #fff;
    border-radius: 3px;
}